@font-face {
    font-family: "defaultFont";
    src:url("Menlo.ttf");
}

body {
    background: #33323C;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#mainDiv {
  position:absolute;
  color:#fff;
  top:40%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.var-highlight {
  color: #ed5494;
}

.let-highlight {
  color: #ed5494;
}

.string-highlight {
  color: #ff544a;
}

.comments-highlight {
  color: #9afc95;
}

.function-highlight {
  color: #01b6af;
}

.braces {
    color: white;
}

.variable-name {
    color: white;
}

.enum-name {
    color: #ffd064;
}

.enum-value {
    color: #c7caeb;
}

#typewriter {
  font-size: 2em;
  margin: 0;
  font-family: defaultFont;
    color: aqua;
}

#typewriter:after {
  content: "|";
  -webkit-animation: blink 500ms linear infinite alternate;
          animation: blink 500ms linear infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
