@font-face {
    font-family: "defaultFont";
    src:url("Menlo.ttf");
}

body {
    background: #33323C;
    color:white;
}

.var-highlight {
  color: #C0AD60;
}

.string-highlight {
  color: #ff544a;
}

.print-highlight {
  color: #01b6af;
}

#typewriter {
  font-size: 2em;
  margin: 0;
  font-family: defaultFont;
}

#typewriter:after {
  content: "|";
  -webkit-animation: blink 500ms linear infinite alternate;
          animation: blink 500ms linear infinite alternate;
}

#mainDiv {
    margin: 100px;
    align-content: center;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
