#headerText{
margin-top:100px;
height:250px;
width:100%;

}

#headerText p{
text-align:center;
color:#00b100;
font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
font-size:35px;
padding:10px;
}

#content{
height:160px;
}

.horSections{
background-color:#F2F2F2;
width:16.3%;
height:150px;
float:left;
margin:2px;
display: table;
}

#FirstDiv:hover{
background-color:#dbdbdb;
cursor: hand;
cursor: pointer;

}

#SecondDiv:hover{
background-color:#dbdbdb;
cursor: hand;
cursor: pointer;

}

#ThirdDiv:hover{
background-color:#dbdbdb;
cursor: hand;
cursor: pointer;

}

#FourthDiv:hover{
background-color:#dbdbdb;
cursor: hand;
cursor: pointer;

}

#FifthDiv:hover{
background-color:#dbdbdb;
cursor: hand;
cursor: pointer;

}

#SixthDiv:hover{
background-color:#dbdbdb;
cursor: hand;
cursor: pointer;

}



.text{
position:relative;
display: table-cell; 
vertical-align: middle;
color:gray;
text-align:center;
font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
font-size:25px;
padding:5px;
font-weight:bold;
}






.selectedText{
position:relative;
display: table-cell; 
vertical-align: middle;
color:white;
text-align:center;
font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
font-size:25px;
padding:5px;
font-weight:bold;
}

.image{
display:table-footer-group;
}

.bigSection
{
width:100%;
height:400px;
background-color:#F2F2F2;
display:none;
}


.Phase1{
height:400px;
width:40%;
float:left;
text-align:left;
}


.Phase2{
height:400px;
width:60%;
float:left;
}

.PhaseText{
margin-left:50px;
color:green;
font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
font-size:25px;
padding:5px;
}

#SliderContainer{
height:300px;
 width:600px;
 margin-top:50px;
 
}

#midText{
margin-top:100px;
height:100px;
width:100%;
}

#midText p{
text-align:center;
color:black;
font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
font-size:35px;
font-weight:bold;
padding:10px;

}

#imagesSection{
height:600px;
width: 100%;

}

.imagesHover{
display:table-cell;
}





.imagesDiv{
float:left;
width:33%;
height:300px;
margin:1px;
}


.ButtonSection{
margin-top:50px;
height:200px;
width:100%;
}


/*
#MoreButton{
background-color:black;
text-align:center;
color:white;
font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
font-size:30px;
font-weight:bold;
width:300px;
height:75px;
padding:15px;
 border: 2px solid black;
border-radius: 20px;
box-shadow: 8px 8px 5px #888888;
cursor: hand;
cursor: pointer;
}
*/


/*Slider CSS*/
 .jssora12l, .jssora12r {

                display: block;

                position: absolute;

                /* size of arrow element */

                width: 30px;

                height: 46px;

                cursor: pointer;

                background: url(images/consultImages/ImageSlider/a12.png) no-repeat;

                overflow: hidden;
            }

            .jssora12l { background-position: -16px -37px; }

            .jssora12r { background-position: -75px -37px; }

            .jssora12l:hover { background-position: -136px -37px; }

            .jssora12r:hover { background-position: -195px -37px; }

            .jssora12l.jssora12ldn { background-position: -256px -37px; }

            .jssora12r.jssora12rdn { background-position: -315px -37px; }






/* jssor slider bullet navigator skin 05 css */

            /*

            .jssorb05 div           (normal)

            .jssorb05 div:hover     (normal mouseover)

            .jssorb05 .av           (active)

            .jssorb05 .av:hover     (active mouseover)

            .jssorb05 .dn           (mousedown)

            */

            .jssorb05 {

                position: absolute;

            }

            .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {

                position: absolute;

                /* size of bullet elment */

                width: 16px;

                height: 16px;

                background: url(images/consultImages/ImageSlider/b05.png) no-repeat;

                overflow: hidden;

                cursor: pointer;

            }

            .jssorb05 div { background-position: -7px -7px; }

            .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }

            .jssorb05 .av { background-position: -67px -7px; }

            .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }




/* Mobile CSS */


.mobileSectionHead{
background-color:#F2F2F2;
width:300px;
height:100px;
margin:2px;
display: table;
margin-top:30px;
}

.DropMobile{
background-color:#F2F2F2;
width:300px;

}

.Mtext{
position:relative;
display: table-cell; 
vertical-align: middle;
color:gray;
text-align:center;
font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
font-size:20px;
padding:5px;
}

.MobileimagesDiv{
height:300px;
margin:1px;
}

.MobileImageInSection{
margin-top:50px;
}

.MobileButtonSection{
margin-top:50px;
height:100px;
width:100%;
}

#MobileMoreButton{
background-color: #00b050;
height:50px;
width:50px;
float:left;
border-radius:25px;
cursor: hand;
cursor: pointer;
}




table, th, td {
    border: 0px solid black;
font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;

}

td{
width:150px;

}


.versionHeadings{
font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
font-size:35px;
font-weight:bold;
height:80px;
text-align:center;

}

.headRow{
color:#0071BB;
font-size:22px;
font-weight:bold;
padding:20px;
text-align:left;
}



.shortVersionHeadText{
position:relative;
display: table-cell; 
vertical-align: middle;
color:#0071BB;
text-align:center;
font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
font-size:20px;
padding:5px;
font-weight:bold;
}


.shortVersionText{
font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
width:250px;
text-align:left;
font-style: italic;

}