#slider-electricity-bill.ui-widget-content
{
    background: #459e00;
    border: 0 none;
    cursor: pointer;
    height: 18px;
    margin: 20px 0;
    outline: medium none;
    position: relative;
    border-radius: 20px;
    width: auto;
}

#slider-electricity-bill .ui-slider-range
{
	background: #459e00;
	border-radius: 20px;
}

#slider-electricity-bill .ui-slider-handle, #slider-electricity-bill .ui-state-default, #slider-electricity-bill .ui-state-active, #slider-electricity-bill .ui-state-focus
{
    background: #459e00;
    border: 0 none;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    height: 20px;
    width: 20px;
    padding: 20px;
    text-align: center;
    margin-top: -5px;
}

#slider-electricity-bill .ui-slider-handle:before
{
    background: #ffffff;
    font-family: arial;
    font-size: 0px;
    line-height: 42px;
    color: #181616;
    /* background: url(../img/white-circle.png) no-repeat center; */
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    padding: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: -9px;
    margin-left: -9px;
}

#slider-electricity-bill .ui-state-default, #slider-electricity-bill .ui-state-active, #slider-electricity-bill .ui-state-focus
{
    background: #459e00 !important;
}